:root {
    --letterCount: 5;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #222f3e;
}

hr {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
    background-color: #c8d6e5;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

li {
    display: inline-block;
}

header {
    max-width: 32rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
}

div.header-title-text {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
}

div.header-menu-item {
    display: grid;
    margin: 0 auto;
    align-items: center;
}

#title {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}

.board-container {
    max-width: 30rem;
    margin: 0 auto;
    display: grid;
}

#board {
    /* 
        Dnamically adjust width of the board based on the number of letters for the chosen word - default 5
        Each tile is 3.8 rem, and 10px account for tile margins
    */
    margin: 0 auto;
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(var(--letterCount), 1fr);
    justify-content: center;
}

.tile {
    display: grid;
    /* Box */
    border: 2px solid #c8d6e5;
    /* Text */
    color: #fff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

/* Tile Color Scheme */
.correct {
    background-color: #1dd1a1;
    color: #fff;
    border-color: #222f3e;
}

.inWord {
    background-color: #feca57;
    color: #fff;
    border-color: #222f3e;
}

.notInWord {
    background-color: #576574;
    color: #fff;
    border-color: #222f3e;
}

/* Style Keyboard */
#keyboard-container {
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
}

.keyboard-row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    max-width: 30rem;
}

.key-tile {
    border: 1px solid #c8d6e5;
    margin: 1px;
    height: 2rem;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

#Enter {
    grid-column-start: 1;
    grid-column-end: 3;
}

img#correct-letter {
    max-width: 80%;
    margin: 0 auto;
}

img#inWord-letter {
    max-width: 80%;
    margin: 0 auto;
}

div#keyboard-container {
    margin-top: 2rem;
}

/* Styling for stat page progress bars */
.progress {
    height: 1.5em;
    width: 50%;
    background-color: #ececec;
    position: relative;
    text-align: left;
    margin: 0 auto;
    margin-top: 5px;
}

.progress:before {
    content: attr(data-label-left);
    font-size: 0.8em;
    position: absolute;
    text-align: left;
    top: 5px;
    left: -2rem;
    right: 0rem;
}

.progress:after {
    content: attr(data-label-right);
    font-size: 0.8em;
    position: absolute;
    text-align: right;
    top: 5px;
    left: 0;
    right: 1rem;
}

.progress .value {
    background-color: #7cc4ff;
    display: inline-block;
    height: 100%;
}

.icon-white {
    color: #fff;
}

/* Center the keyboard on the screen when min width is met (keyboards max size) */
@media screen and (min-width: 30rem) {
    .keyboard-row {
        margin: 0 auto;
    }
}